<% if @followers.present? %>
    <div class="column is-half" id="followers-list">
    <%= render 'profile_users/follow_list/search_follower'%>
    <% @followers.each do |follower| %>
         <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <% if follower.avatar.present?%>
                        <%= image_tag follower.avatar.to_s %>
                        <% else %>
                        <%= image_tag (asset_path 'no_img.png') %>
                        <% end %>
                    </figure>
                </div>

                <div class="media-content">
                    <div class="content">
                    <a href="/profile_users/<%=follower.id%>">
                        <strong><%=follower.name%></strong> <br>
                        <small>@<%=follower.username%></small> <br>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
<% end %>
