<% if @followers.present? %>
    <div class="column is-half">
    <%= form_with(url: follower_url, method: :get) do |f| %>
        <%= label_tag(:query, "Search for") %>
        <%= text_field_tag(:query) %>
        <%= submit_tag("Search", class: "is-info") %>
    <% end %>
    <% @followers.each do |follower| %>
         <div class="box">
            <div class="media">
                <div class="media-left">
                    <figure class="image is-64x64">
                        <% if follower.avatar.present?%>
                        <%= image_tag follower.avatar.to_s %>
                        <% else %>
                        <%= image_tag (asset_path 'no_img.png') %>
                        <% end %>
                    </figure>
                </div>

                <div class="media-content">
                    <div class="content">
                    <a href="/profile_users/<%=follower.id%>">
                        <strong><%=follower.name%></strong> <br>
                        <small>@<%=follower.username%></small> <br>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
    </div>
<% else %>
    is empty
<% end %>
