<!DOCTYPE html>
<html>
  <head>
    <title>TwtClone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkK7KVXxBQBvr3vwCvSwA9wPKkl6MdZA&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script> -->
    <script>
      let autocomplete;
      function initAutocomplete(){
        autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('autocomplete'),
          {
            types: ['establishment'],
            componnentRestrictions: {'country': ['PH']},
            fields: ['place_id', 'geometry', 'name']
          }
        )
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGkK7KVXxBQBvr3vwCvSwA9wPKkl6MdZA&libraries=places&callback=initAutocomplete" async defer data-turbolinks-eval="false"></script>
  </head>

  <body>
    <%= render "layouts/flash_msg" %>
    <%= yield %>
  </body>
</html>
